dist: xenial
language: go
sudo: false
install:
  - curl https://install.goreleaser.com/github.com/golangci/golangci-lint.sh | BINDIR=$GOPATH/bin sh
  - go mod download
script:
  - golangci-lint run --enable-all -D errcheck -D lll -D dupl -D gochecknoglobals -D unparam --deadline 5m ./...
  - go test -race -vet all ./...
env:
  global:
    - GOPROXY=https://proxy.golang.org
    - GO111MODULE=on
go:
  - 1.11.x
  - 1.12.x
  - tip
matrix:
  fast_finish: true
  allow_failures:
    - go: tip
