name: docker-tests
on:
  pull_request:
    branches:
      - main

jobs:
  test-dockerfile:
    name: test-dockerfile
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4.2.2

      - name: setup qemu
        uses: docker/setup-qemu-action@v3.4.0

      - name: setup buildx
        id: buildx
        uses: docker/setup-buildx-action@v3.9.0

      - name: build
        uses: docker/build-push-action@v6.15.0
        with:
          cache-from: type=gha
          cache-to: type=gha,mode=max
          context: .
          push: false
          tags: fsouza/fake-gcs-server:latest
          platforms: linux/amd64,linux/arm64
