name: docker-push
on:
  push:
    branches:
      - main
    tags:
      - "v*"

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3.5.2

      - name: docker meta
        id: meta
        uses: docker/metadata-action@v4.5.0
        with:
          images: fsouza/fake-gcs-server
          tags: |
            type=ref,event=branch
            type=ref,event=pr
            type=semver,pattern={{version}}
            type=semver,pattern={{major}}.{{minor}}
            type=semver,pattern={{major}}

      - name: setup qemu
        uses: docker/setup-qemu-action@v2.2.0

      - name: setup buildx
        id: buildx
        uses: docker/setup-buildx-action@v2.5.0

      - name: login to docker hub
        uses: docker/login-action@v2.2.0
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: build and push
        uses: docker/build-push-action@v4.0.0
        with:
          cache-from: fsouzaci/gha-cache:fake-gcs-server
          cache-to: fsouzaci/gha-cache:fake-gcs-server
          context: .
          push: ${{ github.ref_type == 'tag' }}
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          platforms: linux/amd64,linux/arm64
