name: docker-tests
on:
  pull_request:
    branches:
      - main
    paths:
      - Dockerfile
jobs:
  test-root-dockerfile:
    name: test root dockerfile
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2.4.0

      - uses: fsouza/docker-publish-action@v1.0.1
        with:
          docker-image: sergseven/fake-gcs-server
          skip-push: true
