name: docker-tests
on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: ${{ github.ref_name != 'main' }}

jobs:
  test-dockerfile:
    name: test-dockerfile
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3.3.0

      - name: setup qemu
        uses: docker/setup-qemu-action@v2.1.0

      - name: setup buildx
        id: buildx
        uses: docker/setup-buildx-action@v2.2.1

      - name: build
        uses: docker/build-push-action@v3.2.0
        with:
          context: .
          push: false
          tags: fsouza/fake-gcs-server:latest
          platforms: linux/amd64,linux/arm64
