name: docker-tests
on:
  pull_request:
    branches:
      - main

jobs:
  test-dockerfile:
    name: test-dockerfile
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4.2.2

      - name: setup qemu
        uses: docker/setup-qemu-action@v3.2.0

      - name: setup buildx
        id: buildx
        uses: docker/setup-buildx-action@v3.8.0

      - name: build
        uses: docker/build-push-action@v6.11.0
        with:
          cache-from: fsouzaci/gha-cache:fake-gcs-server
          context: .
          push: false
          tags: fsouza/fake-gcs-server:latest
          platforms: linux/amd64,linux/arm64
