name: docker-tests
on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main
jobs:
  test-dockerfile:
    name: test-dockerfile
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3.0.2

      - name: setup qemu
        uses: docker/setup-qemu-action@v2.0.0

      - name: setup buildx
        id: buildx
        uses: docker/setup-buildx-action@v1.7.0

      - name: build
        uses: docker/build-push-action@v2.10.0
        with:
          context: .
          push: false
          tags: fsouza/fake-gcs-server:latest
          platforms: linux/amd64,linux/arm64
