name: goreleaser-test
on:
  push:
    branches:
      - main
    paths:
      - ci/.goreleaser.yml
      - .github/workflows/goreleaser-test.yml
  pull_request:
    paths:
      - ci/.goreleaser.yml
      - .github/workflows/goreleaser-test.yml
jobs:
  test-goreleaser:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4.0.0

      - uses: actions/setup-go@v4.1.0
        with:
          go-version: "1.21"

      - uses: goreleaser/goreleaser-action@v4.4.0
        with:
          distribution: goreleaser
          version: latest
          args: release --snapshot -f ci/.goreleaser.yml
