name: goreleaser-test
on:
  push:
    branches:
      - main
    paths:
      - ci/.goreleaser.yml
      - .github/workflows/goreleaser-test.yml
  pull_request:
    paths:
      - ci/.goreleaser.yml
      - .github/workflows/goreleaser-test.yml
jobs:
  test-goreleaser:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3.2.0

      - uses: actions/setup-go@v3.5.0
        with:
          go-version: 1.19

      - uses: goreleaser/goreleaser-action@v4.1.0
        with:
          distribution: goreleaser
          version: latest
          args: release --snapshot -f ci/.goreleaser.yml
