name: goreleaser
on:
  push:
    tags:
      - "*"

permissions:
  contents: write

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4.1.0
        with:
          fetch-depth: 0

      - name: fetch tags
        run: git fetch --tags --force

      - uses: actions/setup-go@v4.1.0
        with:
          go-version: "1.21"

      - uses: goreleaser/goreleaser-action@v5.0.0
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          distribution: goreleaser
          version: latest
          args: release -f ci/.goreleaser.yml
