name: goreleaser-test
on:
  push:
    branches:
      - main
    paths:
      - ci/.goreleaser.yml
      - .github/workflows/goreleaser-test.yml
  pull_request:
    paths:
      - ci/.goreleaser.yml
      - .github/workflows/goreleaser-test.yml
jobs:
  test-goreleaser:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6.0.2

      - uses: actions/setup-go@v6.2.0
        with:
          go-version: "1.26"

      - uses: goreleaser/goreleaser-action@v6.4.0
        with:
          distribution: goreleaser
          version: '~> v2'
          args: release --snapshot -f ci/.goreleaser.yml
