name: Build
on:
  push:
    branches:
      - main

  pull_request:
    branches:
      - main

jobs:
  test:
    strategy:
      matrix:
        go_version:
          - 1.14
          - 1.15
        os:
          - macos
          - ubuntu
          - windows

    name: tests (${{ matrix.os }}/go-${{ matrix.go_version }})
    runs-on: ${{ matrix.os }}-latest
    steps:
      - uses: actions/setup-go@v2.1.3
        id: go
        with:
          stable: false
          go-version: ${{ matrix.go_version }}

      - uses: actions/checkout@v2.3.4

      - name: install deps
        run: go mod download

      - name: run-tests
        run: go test -race -vet all -mod readonly ./...
        env:
          GOPROXY: off

  lint:
    strategy:
      matrix:
        os:
          - macos
          - ubuntu
          - windows

    name: lint (${{ matrix.os }})
    runs-on: ${{ matrix.os }}-latest
    steps:
      - uses: actions/checkout@v2.3.4
      - uses: golangci/golangci-lint-action@v2.3.0
        with:
          version: v1.33

  build:
    name: build-and-publish
    runs-on: ubuntu-latest
    needs:
      - test
      - lint
    steps:
      - uses: actions/checkout@v2.3.4

      - uses: actions/setup-go@v2.1.3
        id: go
        with:
          go-version: 1.x

      - name: go-build
        run: go build -o fake-gcs-server -mod readonly
        env:
          CGO_ENABLED: 0

      - name: sanity-check
        uses: docker://alpine
        with:
          entrypoint: sh
          args: -c "./fake-gcs-server -h"

      - name: test-python-example
        uses: docker://python:3-alpine
        with:
          entrypoint: sh
          args: ci/run-python-example.sh

      - name: test-node-example
        uses: docker://node:14-alpine
        with:
          entrypoint: sh
          args: ci/run-node-example.sh

      - name: test-go-example
        uses: docker://golang:alpine
        env:
          GOROOT: /usr/local/go
        with:
          entrypoint: sh
          args: ci/run-go-example.sh

      - name: docker-publish
        uses: docker://docker
        env:
          DOCKER_USERNAME: ${{ secrets.docker_username }}
          DOCKER_PASSWORD: ${{ secrets.docker_password }}
        with:
          entrypoint: sh
          args: ci/docker-build.sh
